.body{
	padding: 128px;
	background: #000000;
;
	/*text-align: center;*/
}

.label{
	display: block;
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.07em;
text-transform: uppercase;

color: #808080;

margin-bottom: 32px;
}

.divider{
	display: block;
	height: 2px;
	background: #808080;
	opacity: 0.3;
}

.txtt{
position: static;
display: block;
font-family: Manrope;
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 120%;
/* or 77px */


color: #F5F1EE;
}

.txt{
position: static;
display: block;
font-family: Manrope;
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 130%;
/* or 77px */
text-decoration: none;

color: #F5F1EE;
}


.txt:hover{
	color: #5E79F2;

}

.section{
	margin-bottom: 128px;
}

.image{
	height: 18px;
}

@media screen and (max-width: 1005px) {
	.body{
	padding: 64px;
	}

	.label{
	margin-bottom: 28px;
	}

	.txtt{
		width: 799px;
		font-size: 56px;
	}

	.txt{
		font-size: 56px;
	}

	.section{
		margin-bottom: 96px;
	}

}

@media screen and (max-width: 844px) {
 	.body{
	padding: 32px;
	}

	.label{
	margin-bottom: 16px;
	}

	.txtt{
		width: 639px;
		font-size: 36px;
	}

	.txt{
		font-size: 36px;
	}

	.section{
		margin-bottom: 64px;
	}

	.image{
	height: 14px;
}

}

@media screen and (max-width: 479px) {
  	.body{
	padding: 16px;
	}

	.label{
		font-size: 14px;
	margin-bottom: 16px;
	}

	.txtt{
		width: 328px;
		font-size: 24px;
	}

	.txt{
		font-size: 24px;
	}

	.section{
		margin-bottom: 64px;
	}
}

